@import "mocha.css";
/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    30% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @yellow;
    }
}

@keyframes blink-critical {
    70% {
      color: @text;
    }

    to {
        color: @text;
        background-color: @red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 10;
    min-height: 0;
    margin: 2;
    padding: 0;
    color: @text;
}

/* The whole bar */
#waybar {
    color: @text;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

.modules-right {
  background-color: alpha(@surface0, 0.9);
  margin: 2px 10px 0 0;
}
.modules-center {
  background-color: alpha(@surface0, 0.9);
  margin: 2px 0 0 0;
}
.modules-left {
  background-color: alpha(@surface0, 0.9);
  margin: 2px 0 0 5px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#backlight,
#network,
#pulseaudio,
#temperature,
#custom-power,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: @peach;
}

#cpu.critical {
    color: @red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @peach;
}

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-top: 2px solid @text;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: @peach;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    color: @red;
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: @red;
}

#tray {
    /* No styles */
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #888888;
}

#workspaces button.focused {
    color: @text;
    background-color: @surface1;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
