* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 1rem;
  color: #B3B1AD;
  margin: 0;
  min-height: 0;
}

window#waybar {
  background: #0A0E14;
}

#workspaces button.active {
  color: #EA6C73;
  font-weight: bold;
  text-shadow: 0px 0px 3px red;
}

#workspaces button:hover {
	color: #0A0E14;
  background: #0A0E14;
  border-radius: 8px;
  border: 2px solid #EA6C73;
}

.modules-left,
.modules-center,
.modules-right {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

#network,
#backlight,
#pulseaudio,
#memory,
#battery,
#clock,
#cpu {
  padding: 0 8px;
}
